@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap");
@font-face {
  font-family: "PokemonHollow";
  src: url("./fonts/Pokemon_Hollow.ttf");
}
@font-face {
  font-family: "PokemonSolid";
  src: url("./fonts/Pokemon_Solid.ttf");
}
#root {
  flex: 1;
}
* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  background-color: #FFFFFF;
}
